.other-news-item {
	display: inline-block;
	width: 24%;
	/*height: 25%;*/
}

.other-news-item img {
	width: 100%;
	height: 10em;
	object-fit: contain;
}

nav {
	width: 70%;
	display: inline-block;
}

.dropdown-content {
    display: none;
}